{% extends "dashboard/base.html" %}

{% block content %}
<h2>Login</h2>

<form method="post" style="max-width:400px;">
    {% csrf_token %}

    <div>
        {{ form.username.label_tag }}
        <br>
        {{ form.username }}
    </div>

    <br>

    <div>
        {{ form.password.label_tag }}
        <br>
        {{ form.password }}
    </div>

    <br>

    <button type="submit">Login</button>
</form>

<p>
    Don't have an account?
    <a href="{% url 'register' %}">Register</a>
</p>
{% endblock %}
